@import "../base/settings";

.option {
  border-bottom: 0.1rem solid lighten($light-blue, 10%);
  display: flex;
  justify-content: space-between;
  padding: $l-size $m-size;
}

.option__text {
  color: $base-white;
  font-weight: 500;
  font-size: $ml-size;
  margin: 0;
  word-break: break-all;
}